@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "맑은 고딕";
    background: linear-gradient( #dfc6b3, #918376);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.wrap header {
    width: 100%;
    height: 400px;
    background: url(../images/main_img02.png) no-repeat;
    background-size: cover;
    position: relative; /* 헤더로 기준변경 */
}

.wrap header h1{
    /* 반응형마다 로고 위치가 다를 경우 - 띄우기 */
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.wrap header .gnb{
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.wrap header .gnb li{
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    left: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
}

.wrap header .gnb li:hover{
    background-color: rgb(255, 0, 0);
}

.wrap header .gnb li>a {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

/* main */
.wrap main {
    padding: 16px;
    background-color: #fff;
    display: flex;
    gap: 16px;
}

/* section */
.wrap main section {
    width: 70%;
}


/* article */
.wrap main section article h2{
    text-align: center;
    margin-bottom: 32px;
}

.wrap main section article h3{
    margin-bottom: 24px;
}

.wrap main section article p{
    text-align: justify;
    margin-bottom: 42px;
    font-size: 16px;
}

/* aside */
.wrap main aside {
    width: 30%;
}

.wrap main aside a{ /* inline 요소는 크기설정 불가*/
    width: 100%;
    display: block;
    margin-bottom: 16px;
}

.wrap main aside a img {
    width: 100%;
    filter: grayscale(100%);
}

.wrap main aside a img:hover{
    filter: brightness(150%);
}

.wrap main aside a:last-child{
    margin-bottom: 0;
}


/* footer */
.wrap footer {
    width: 100%;
    height: 50px;
    background-color: #333 ;
}

.wrap footer p{
    text-align: center;
    line-height: 50px;
    color: #fff;
}

/* 태블릿 기기*/
@media (min-width:768px) and (max-width:991px) {
    .wrap{
        width: 96%;
    }

    .wrap header{
        height: 300px;
    }

    .wrap main{
        flex-direction: column;
    }

    .wrap main section{
        width: 100%;
    }

    .wrap main aside{
        width: 100%;
        display: flex;
        gap: 16px;
    }
}


/* 모바일 기기 */
@media (min-width:320px) and (max-width:767px) {
    .wrap {
        width: 96%;
    }

    .wrap header {
        height: 640px;
    }

    .wrap header h1{
        top: 20px;
    }

    .wrap header nav .gnb{
        flex-direction: column;
        position: absolute;
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .wrap header nav .gnb li{
        width: 410px;
        margin-bottom: 12px;
        border-radius: 4px;
    }

    .wrap main{
        flex-direction: column;
    }

    .wrap main section{
        width: 100%;
    }

    .wrap main aside{
        width: 100%;
    }
}