@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

header{
    width: 100%; /* 모바일 */
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 24px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}