@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #333333;
}

li{
    list-style: none;
}

body{
    font-family: "맑은 고딕", "malgun gothic", 'sans-serif';
}

/* 사이즈 오차가 나지 않게 유의할 것 */

header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* x축 정렬 */
    align-items: center; /* y축 정렬 */
}

header .gnb{
    width: 600px;
    height: 100px;
}

.gnb>ul{
    display: flex; /*바로 위 부모에게*/
    justify-content: space-between; /*일정간격 배치*/
    height: 100px;
    align-items: center; /*y축 가운데정렬: 높이 지정해야함*/
}

.gnb>ul>li{
    border: 1px solid #333333;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.gnb>ul>li:hover{
    background-color: #333333;
}

/* a 태그는 크기설정 불가 (인라인) */
.gnb>ul>li>a{
    color: #333333;
    display: block; /* 블럭요소로 변경 */
}

/* 호버 시 박스 전체 지정 li에 호버 지정 */
.gnb>ul>li:hover>a{
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.gnb>ul>li>.depth2{
    position: absolute; /* 공중에 띄우는 명령 */
    left: 0;
    top: 50px;
    width: 100%; /*부모사이즈만큼*/
    text-align: center;
    background: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    display: none;
}

.gnb>ul>li>.depth2>li>a{
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.gnb>ul>li>.depth2>li>a:hover{
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.gnb>ul>li>.depth2>li:hover{
    background-color: #333333;
    width: 100%;
    height: 100%;
}

.gnb>ul>li:hover>.depth2{
    display: block;
}

.slide{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.contents{
    width: 1200px;
    height: 200px;
    background-color: blueviolet;
    margin: 0 auto;
    display: flex; /* display 속성은 부모속성에게 */
}

.contents .notice{
    width: 400px;
    height: 200px;
    background-color: deeppink;
}

.contents .banner{
    width: 400px;
    height: 200px;
    background-color: darkcyan;
}

.contents .go{
    width: 400px;
    height: 200px;
    background-color: olivedrab;
}

footer{
    width: 1200px;
    height: 100px;
    background-color: chocolate;
    margin: 0 auto;
    display: flex;
}

.footer-logo{
    width: 200px;
    height: 100px;
    background-color: deepskyblue;
}

footer .copyright{
    width: 800px; /*로고와 sns 항목이 200으로 일치하므로 카피라이트는 800이 됨*/
    height: 100px;
    background-color: darkkhaki;
}

footer .sns{
    width: 200px;
    height: 100px;
    background-color: darkslateblue;
}